.categories{
    width: 100%;
    height: 200px;
    
    &--phone{
        width: 100%;
        height: 200px;
        background: url('/img/sections/category-phone.jpg');
        background-position: center;
        background-size: cover;
    }
}